body {
  background: url("") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.center {
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
}
